# Regression Predict Student Solution

© Explore Data Science Academy

---
### Honour Code

I {**YOUR NAME, YOUR SURNAME**}, confirm - by submitting this document - that the solutions in this notebook are a result of my own work and that I abide by the [EDSA honour code](https://drive.google.com/file/d/1QDCjGZJ8-FmJE3bZdIQNwnJyQKPhHZBn/view?usp=sharing).

Non-compliance with the honour code constitutes a material breach of contract.

### Predict Overview: Spain Electricity Shortfall Challenge

The government of Spain is considering an expansion of it's renewable energy resource infrastructure investments. As such, they require information on the trends and patterns of the countries renewable sources and fossil fuel energy generation. Your company has been awarded the contract to:

- 1. analyse the supplied data;
- 2. identify potential errors in the data and clean the existing data set;
- 3. determine if additional features can be added to enrich the data set;
- 4. build a model that is capable of forecasting the three hourly demand shortfalls;
- 5. evaluate the accuracy of the best machine learning model;
- 6. determine what features were most important in the model’s prediction decision, and
- 7. explain the inner working of the model to a non-technical audience.

Formally the problem statement was given to you, the senior data scientist, by your manager via email reads as follow:

> In this project you are tasked to model the shortfall between the energy generated by means of fossil fuels and various renewable sources - for the country of Spain. The daily shortfall, which will be referred to as the target variable, will be modelled as a function of various city-specific weather features such as `pressure`, `wind speed`, `humidity`, etc. As with all data science projects, the provided features are rarely adequate predictors of the target variable. As such, you are required to perform feature engineering to ensure that you will be able to accurately model Spain's three hourly shortfalls.
 
On top of this, she has provided you with a starter notebook containing vague explanations of what the main outcomes are.

<a id="cont"></a>

## Table of Contents

<a href=#one>1. Importing Packages</a>

<a href=#two>2. Loading Data</a>

<a href=#three>3. Exploratory Data Analysis (EDA)</a>

<a href=#four>4. Data Engineering</a>

<a href=#five>5. Modeling</a>

<a href=#six>6. Model Performance</a>

<a href=#seven>7. Model Explanations</a>

 <a id="one"></a>
## 1. Importing Packages
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Importing Packages ⚡ |
| :--------------------------- |
| In this section you are required to import, and briefly discuss, the libraries that will be used throughout your analysis and modelling. |

---

In [1]:
# Libraries for data loading, data manipulation and data visulisation
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sb

%matplotlib inline

# Libraries for data preparation and model building
#import *

# Setting global constants to ensure notebook results are reproducible
#PARAMETER_CONSTANT = ###

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

<a id="two"></a>
## 2. Loading the Data
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Loading the data ⚡ |
| :--------------------------- |
| In this section you are required to load the data from the `df_train` file into a DataFrame. |

---

### notes of data wrangling and transformations for train
time column should be datetime data type
rename all columns to lower case
drop the unnamed column since it corresponds with the index
valencia pressure column has null values, fill with mean
reformat barcelona pressure column numbers to show exponents

In [3]:
df_train= pd.read_csv('df_train.csv')

In [4]:
df_test= pd.read_csv('df_test.csv')

<a id="three"></a>
## 3. Programmatic Assessment of Data Set
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Assess the data set for tidiness and dirtiness issues ⚡ |
| :--------------------------- |
| In this section, you are required to perform an in-depth assessment of all the variables in the DataFrame. |

---

Peak into the data set

In [25]:
df_test.head(20)

,Unnamed: 0,time,Madrid_wind_speed,Valencia_wind_deg,Bilbao_rain_1h,Valencia_wind_speed,Seville_humidity,Madrid_humidity,Bilbao_clouds_all,Bilbao_wind_speed,Seville_clouds_all,Bilbao_wind_deg,Barcelona_wind_speed,Barcelona_wind_deg,Madrid_clouds_all,Seville_wind_speed,Barcelona_rain_1h,Seville_pressure,Seville_rain_1h,Bilbao_snow_3h,Barcelona_pressure,Seville_rain_3h,Madrid_rain_1h,Barcelona_rain_3h,Valencia_snow_3h,Madrid_weather_id,Barcelona_weather_id,Bilbao_pressure,Seville_weather_id,Valencia_pressure,Seville_temp_max,Madrid_pressure,Valencia_temp_max,Valencia_temp,Bilbao_weather_id,Seville_temp,Valencia_humidity,Valencia_temp_min,Barcelona_temp_max,Madrid_temp_max,Barcelona_temp,Bilbao_temp_min,Bilbao_temp,Barcelona_temp_min,Bilbao_temp_max,Seville_temp_min,Madrid_temp,Madrid_temp_min
0,8763,2018-01-01 00:00:00,5.000000,level_8,0.0,5.000000,87.000000,71.333333,20.000000,3.000000,0.000000,193.333333,4.000000,176.666667,0.000000,1.000000,0.0,sp25,0.0,0,1017.333333,0.0,0.0,0.0,0,800.000000,800.000000,1025.666667,800.000000,NaN,284.483333,1030.000000,287.483333,287.483333,801.000000,283.673333,46.333333,287.483333,287.816667,280.816667,287.356667,276.150000,280.380000,286.816667,285.150000,283.150000,279.866667,279.150000
1,8764,2018-01-01 03:00:00,4.666667,level_8,0.0,5.333333,89.000000,78.000000,0.000000,3.666667,0.000000,143.333333,4.666667,266.666667,0.000000,0.666667,0.0,sp25,0.0,0,1020.333333,0.0,0.0,0.0,0,800.000000,800.333333,1026.666667,800.000000,NaN,282.483333,1030.333333,284.150000,284.150000,721.000000,281.673333,53.666667,284.150000,284.816667,280.483333,284.190000,277.816667,281.010000,283.483333,284.150000,281.150000,279.193333,278.150000
2,8765,2018-01-01 06:00:00,2.333333,level_7,0.0,5.000000,89.000000,89.666667,0.000000,2.333333,6.666667,130.000000,4.000000,263.333333,0.000000,0.666667,0.0,sp25,0.0,0,1023.000000,0.0,0.0,0.0,0,800.000000,800.000000,1025.333333,800.333333,NaN,280.816667,1030.666667,282.816667,282.816667,800.000000,280.613333,42.000000,282.816667,284.483333,276.483333,283.150000,276.816667,279.196667,281.816667,282.150000,280.483333,276.340000,276.150000
3,8766,2018-01-01 09:00:00,2.666667,level_7,0.0,5.333333,93.333333,82.666667,26.666667,5.666667,6.666667,196.666667,2.333333,86.666667,0.000000,1.333333,0.0,sp25,0.0,0,1025.666667,0.0,0.0,0.0,0,800.000000,800.000000,1025.000000,800.333333,NaN,281.150000,1032.333333,283.483333,283.483333,801.333333,279.936667,45.000000,283.483333,284.150000,277.150000,283.190000,279.150000,281.740000,282.150000,284.483333,279.150000,275.953333,274.483333
4,8767,2018-01-01 12:00:00,4.000000,level_7,0.0,8.666667,65.333333,64.000000,26.666667,10.666667,0.000000,233.333333,4.666667,283.333333,0.000000,1.000000,0.0,sp25,0.0,0,1026.000000,0.0,0.0,0.0,0,800.000000,800.333333,1022.333333,800.000000,NaN,287.150000,1032.333333,287.150000,287.150000,801.333333,285.570000,41.000000,287.150000,287.483333,281.150000,286.816667,281.816667,284.116667,286.150000,286.816667,284.483333,280.686667,280.150000
5,8768,2018-01-01 15:00:00,5.666667,level_8,0.4,8.333333,41.000000,61.333333,56.666667,5.333333,0.000000,153.333333,7.333333,250.000000,38.333333,1.666667,0.0,sp25,0.0,0,1022.000000,0.0,0.0,0.0,0,801.666667,800.000000,1020.666667,800.000000,NaN,291.483333,1030.333333,289.816667,289.816667,600.666667,289.053333,32.000000,289.816667,287.483333,284.483333,287.150000,283.483333,284.526667,286.816667,285.816667,287.483333,283.643333,282.816667
6,8769,2018-01-01 18:00:00,3.666667,level_8,0.7,7.333333,54.333333,76.000000,75.000000,9.666667,0.000000,310.000000,6.666667,260.000000,56.666667,0.666667,0.0,sp25,0.0,0,1020.666667,0.0,0.0,0.0,0,802.333333,800.000000,1024.666667,800.000000,NaN,288.816667,1030.333333,288.150000,288.150000,500.666667,287.196667,42.333333,288.150000,287.150000,283.483333,286.670000,282.150000,283.840000,286.150000,286.150000,286.150000,282.596667,281.816667
7,8770,2018-01-01 21:00:00,7.000000,level_8,0.3,6.666667,63.666667,79.333333,75.000000,4.666667,0.000000,316.666667,5.666667,260.000000,31.666667,1.000000,0.0,sp25,0.0,0,1021.666667,0.0,0.0,0.0,0,801.333333,800.000000,1026.666667,800.000000,NaN,285.150000,1030.333333,287.150000,287.150000,500.000000,282.723333,48.666667,287.150000,287.150000,282.483333,286.483333,281.483333,283.196667,285.816667,285.150000,281.150000,281.840000,281.150000
8,8771,2018-01-02 00:00:00,7.000000,level_7,0.5,7.666667,79.333333,69.333333,79.333333,1.666667,0.000000,70.000000,4.000000,286.666667,6.666667,0.333333,0.0,sp25,0.0,0,1022.000000,0.0,0.0,0.0,0,800.333333,800.333333,1027.333333,800.000000,NaN,282.150000,1031.000000,286.483333,286.483333,500.333333,279.923333,56.666667,286.483333,285.483333,283.150000,285.170000,281.816667,283.046667,284.816667,284.483333,278.483333,281.630000,280.483333
9,8772,2018-01-02 03:00:00,5.000000,level_8,0.2,6.000000,87.000000,69.000000,44.000000,1.000000,0.000000,202.666667,3.333333,180.000000,0.000000,2.000000,0.0,sp25,0.0,0,1023.000000,0.0,0.0,0.0,0,800.000000,800.000000,1026.666667,800.000000,NaN,280.483333,1030.666667,286.150000,286.150000,600.500000,278.256667,62.000000,286.150000,283.150000,282.483333,282.983333,282.150000,283.043333,282.816667,284.150000,276.816667,280.583333,279.150000
10,8773,2018-01-02 06:00:00,4.333333,level_8,0.2,4.666667,91.000000,62.666667,75.000000,1.000000,0.000000,70.000000,2.666667,176.666667,13.333333,1.333333,0.0,sp25,0.0,0,1022.666667,0.0,0.0,0.0,0,800.666667,800.000000,1025.000000,800.000000,NaN,278.816667,1030.333333,285.150000,285.150000,601.000000,277.603333,66.000000,285.150000,284.150000,283.150000,283.316667,281.150000,283.083333,282.483333,285.483333,276.816667,280.840000,279.150000
11,8774,2018-01-02 09:00:00,3.000000,level_8,0.3,6.333333,89.000000,75.000000,75.000000,4.000000,0.000000,223.333333,1.000000,3.333333,20.000000,2.000000,0.0,sp25,0.0,0,1024.666667,0.0,0.0,0.0,0,801.000000,800.000000,1026.666667,800.000000,NaN,279.816667,1032.000000,286.150000,286.150000,500.000000,277.793333,58.000000,286.150000,284.150000,282.150000,283.150000,281.483333,283.423333,282.150000,285.483333,276.483333,280.250000,277.483333
12,8775,2018-01-02 12:00:00,5.666667,level_9,0.5,8.666667,68.333333,76.333333,75.000000,2.666667,0.000000,146.666667,4.000000,280.000000,38.333333,1.000000,0.0,sp25,0.0,0,1024.666667,0.0,0.0,0.0,0,801.666667,800.000000,1027.333333,800.000000,NaN,286.483333,1032.666667,290.150000,290.150000,500.333333,285.473333,43.000000,290.150000,287.150000,285.483333,286.983333,282.816667,284.213333,286.816667,285.816667,284.816667,283.673333,282.483333
13,8776,2018-01-02 15:00:00,3.666667,level_8,0.0,6.666667,55.666667,71.000000,68.333333,2.666667,0.000000,143.333333,4.666667,270.000000,26.666667,1.000000,0.0,sp25,0.0,0,1023.000000,0.0,0.0,0.0,0,801.333333,800.666667,1025.000000,800.000000,NaN,291.150000,1032.000000,291.816667,291.816667,803.000000,289.130000,40.000000,291.816667,290.150000,286.816667,289.650000,284.816667,286.340000,289.150000,288.150000,287.816667,285.413333,284.483333
14,8777,2018-01-02 18:00:00,3.666667,level_9,0.0,6.000000,63.333333,83.333333,63.333333,2.333333,0.000000,113.333333,2.000000,173.333333,45.000000,0.666667,0.0,sp25,0.0,0,1023.000000,0.0,0.0,0.0,0,802.000000,800.333333,1026.000000,800.000000,NaN,289.483333,1032.333333,290.816667,290.816667,802.666667,287.923333,45.000000,290.816667,289.483333,284.483333,288.483333,284.483333,286.656667,287.483333,289.150000,286.816667,283.416667,282.483333
15,8778,2018-01-02 21:00:00,3.000000,level_9,0.0,5.666667,85.000000,87.000000,33.333333,2.333333,0.000000,156.666667,2.666667,182.000000,25.000000,1.000000,0.0,sp25,0.0,0,1023.000000,0.0,0.0,0.0,0,801.000000,800.000000,1026.666667,800.000000,NaN,284.816667,1032.000000,288.483333,288.483333,801.666667,283.403333,54.333333,288.483333,287.816667,282.483333,287.296667,284.816667,285.953333,286.816667,287.150000,282.483333,281.616667,280.816667
16,8779,2018-01-03 00:00:00,2.666667,level_8,0.0,5.333333,85.000000,97.666667,45.000000,2.333333,13.333333,73.333333,3.333333,263.333333,0.000000,0.333333,0.0,sp25,0.0,0,1023.000000,0.0,0.0,0.0,0,800.000000,800.000000,1026.000000,800.666667,NaN,284.150000,1032.000000,287.150000,287.150000,741.333333,282.183333,59.333333,287.150000,287.150000,280.483333,286.650000,285.483333,287.043333,286.150000,288.816667,280.816667,280.123333,279.816667
17,8780,2018-01-03 03:00:00,1.666667,level_8,0.0,5.666667,81.000000,100.000000,83.333333,1.666667,50.000000,76.666667,4.666667,270.000000,48.000000,2.000000,0.0,sp25,0.0,0,1023.000000,0.0,0.0,0.0,0,735.000000,801.000000,1026.333333,802.000000,NaN,285.150000,1031.000000,286.150000,286.150000,721.000000,283.530000,67.666667,286.150000,286.816667,281.150000,286.510000,287.816667,289.496667,286.150000,291.150000,282.483333,280.850000,280.483333
18,8781,2018-01-03 06:00:00,2.333333,level_8,0.0,4.666667,83.666667,97.666667,75.000000,3.000000,90.000000,240.000000,3.000000,269.333333,51.666667,1.333333,0.0,sp25,0.0,0,1022.666667,0.0,0.0,0.0,0,714.333333,801.000000,1025.000000,804.000000,NaN,285.816667,1031.333333,286.150000,286.150000,803.000000,284.236667,71.000000,286.150000,285.150000,282.150000,284.650000,287.483333,288.943333,284.150000,290.816667,283.150000,281.066667,279.483333
19,8782,2018-01-03 09:00:00,3.000000,level_8,0.0,4.333333,82.000000,100.000000,45.000000,1.333333,90.000000,181.666667,4.333333,233.333333,90.000000,0.666667,0.0,sp25,0.0,0,1023.000000,0.0,0.0,0.0,0,721.000000,801.000000,1027.000000,804.000000,NaN,286.816667,1032.666667,287.816667,287.816667,802.000000,285.200000,65.333333,287.816667,288.483333,282.483333,287.670000,286.483333,287.636667,286.816667,289.150000,284.150000,281.906667,281.150000

Summary Statistics

In [6]:
df_train.describe()

,Unnamed: 0,Madrid_wind_speed,Bilbao_rain_1h,Valencia_wind_speed,Seville_humidity,Madrid_humidity,Bilbao_clouds_all,Bilbao_wind_speed,Seville_clouds_all,Bilbao_wind_deg,Barcelona_wind_speed,Barcelona_wind_deg,Madrid_clouds_all,Seville_wind_speed,Barcelona_rain_1h,Seville_rain_1h,Bilbao_snow_3h,Barcelona_pressure,Seville_rain_3h,Madrid_rain_1h,Barcelona_rain_3h,Valencia_snow_3h,Madrid_weather_id,Barcelona_weather_id,Bilbao_pressure,Seville_weather_id,Valencia_pressure,Seville_temp_max,Madrid_pressure,Valencia_temp_max,Valencia_temp,Bilbao_weather_id,Seville_temp,Valencia_humidity,Valencia_temp_min,Barcelona_temp_max,Madrid_temp_max,Barcelona_temp,Bilbao_temp_min,Bilbao_temp,Barcelona_temp_min,Bilbao_temp_max,Seville_temp_min,Madrid_temp,Madrid_temp_min,load_shortfall_3h
count,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8.763000e+03,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,6695.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000
mean,4381.000000,2.425729,0.135753,2.586272,62.658793,57.414717,43.469132,1.850356,13.714748,158.957511,2.870497,190.544848,19.473392,2.425045,0.128906,0.039439,0.031912,1.377965e+03,0.000243,0.037818,0.000439,0.000205,773.527594,765.979687,1017.739549,774.658818,1012.051407,297.479527,1010.316920,291.337233,290.592152,724.722362,293.978903,65.247727,289.867648,291.157644,289.540309,289.855459,285.017973,286.422929,288.447422,287.966027,291.633356,288.419439,287.202203,10673.857612
std,2529.804538,1.850371,0.374901,2.411190,22.621226,24.335396,32.551044,1.695888,24.272482,102.056299,1.792197,89.077337,28.053660,1.672895,0.634730,0.175857,0.557264,1.407314e+04,0.003660,0.152639,0.003994,0.011866,77.313315,88.142235,10.046124,71.940009,9.506214,8.875812,22.198555,7.565692,7.162274,115.846537,7.920986,19.262322,6.907402,7.273538,9.752047,6.528111,6.705672,6.818682,6.102593,7.105590,8.178220,9.346796,9.206237,5218.046404
min,0.000000,0.000000,0.000000,0.000000,8.333333,6.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.706667e+02,0.000000,0.000000,0.000000,0.000000,211.000000,200.666667,971.333333,200.000000,972.666667,272.063000,927.666667,269.888000,269.888000,207.333333,272.063000,10.333333,269.888000,272.150000,264.983333,270.816667,264.483333,267.483333,269.483333,269.063000,270.150000,264.983333,264.983333,-6618.000000
25%,2190.500000,1.000000,0.000000,1.000000,44.333333,36.333333,10.000000,0.666667,0.000000,73.333333,1.666667,118.166667,0.000000,1.000000,0.000000,0.000000,0.000000,1.014000e+03,0.000000,0.000000,0.000000,0.000000,800.000000,800.000000,1013.000000,800.000000,1010.333333,291.312750,1012.333333,285.550167,285.150000,700.333333,288.282917,51.333333,284.783333,285.483333,282.150000,284.973443,280.085167,281.374167,284.150000,282.836776,285.816667,281.404281,280.299167,7390.333333
50%,4381.000000,2.000000,0.000000,1.666667,65.666667,58.000000,45.000000,1.000000,0.000000,147.000000,2.666667,200.000000,0.000000,2.000000,0.000000,0.000000,0.000000,1.018000e+03,0.000000,0.000000,0.000000,0.000000,800.000000,800.333333,1019.000000,800.000000,1015.000000,297.101667,1017.333333,291.037000,290.176667,800.000000,293.323333,67.000000,289.550000,290.150000,288.116177,289.416667,284.816667,286.158333,288.150000,287.630000,290.816667,287.053333,286.083333,11114.666667
75%,6571.500000,3.333333,0.100000,3.666667,82.000000,78.666667,75.000000,2.666667,20.000000,234.000000,4.000000,260.000000,33.333333,3.333333,0.000000,0.000000,0.000000,1.022000e+03,0.000000,0.000000,0.000000,0.000000,800.666667,801.000000,1024.000000,800.000000,1018.000000,304.150000,1022.000000,297.248333,296.056667,801.666667,299.620333,81.333333,294.820000,296.855000,296.816667,294.909000,289.816667,291.034167,292.966667,292.483333,297.150000,295.154667,293.884500,14498.166667
max,8762.000000,13.000000,3.000000,52.000000,100.000000,100.000000,100.000000,12.666667,97.333333,359.333333,12.666667,360.000000,100.000000,11.666667,12.000000,3.000000,21.300000,1.001411e+06,0.093333,3.000000,0.093000,0.791667,804.000000,804.000000,1042.000000,804.000000,1021.666667,320.483333,1038.000000,314.263333,310.426667,804.000000,314.976667,100.000000,310.272000,314.076667,314.483333,307.316667,309.816667,310.710000,304.816667,317.966667,314.816667,313.133333,310.383333,31904.000000

Check Data types

In [7]:
df_train.dtypes

Unnamed: 0                int64
time                     object
Madrid_wind_speed       float64
Valencia_wind_deg        object
Bilbao_rain_1h          float64
Valencia_wind_speed     float64
Seville_humidity        float64
Madrid_humidity         float64
Bilbao_clouds_all       float64
Bilbao_wind_speed       float64
Seville_clouds_all      float64
Bilbao_wind_deg         float64
Barcelona_wind_speed    float64
Barcelona_wind_deg      float64
Madrid_clouds_all       float64
Seville_wind_speed      float64
Barcelona_rain_1h       float64
Seville_pressure         object
Seville_rain_1h         float64
Bilbao_snow_3h          float64
Barcelona_pressure      float64
Seville_rain_3h         float64
Madrid_rain_1h          float64
Barcelona_rain_3h       float64
Valencia_snow_3h        float64
Madrid_weather_id       float64
Barcelona_weather_id    float64
Bilbao_pressure         float64
Seville_weather_id      float64
Valencia_pressure       float64
Seville_temp_max        float64
Madrid_pressure         float64
Valencia_temp_max       float64
Valencia_temp           float64
Bilbao_weather_id       float64
Seville_temp            float64
Valencia_humidity       float64
Valencia_temp_min       float64
Barcelona_temp_max      float64
Madrid_temp_max         float64
Barcelona_temp          float64
Bilbao_temp_min         float64
Bilbao_temp             float64
Barcelona_temp_min      float64
Bilbao_temp_max         float64
Seville_temp_min        float64
Madrid_temp             float64
Madrid_temp_min         float64
load_shortfall_3h       float64
dtype: object

Check for null values

In [8]:
df_train.isnull().sum()

Unnamed: 0                 0
time                       0
Madrid_wind_speed          0
Valencia_wind_deg          0
Bilbao_rain_1h             0
Valencia_wind_speed        0
Seville_humidity           0
Madrid_humidity            0
Bilbao_clouds_all          0
Bilbao_wind_speed          0
Seville_clouds_all         0
Bilbao_wind_deg            0
Barcelona_wind_speed       0
Barcelona_wind_deg         0
Madrid_clouds_all          0
Seville_wind_speed         0
Barcelona_rain_1h          0
Seville_pressure           0
Seville_rain_1h            0
Bilbao_snow_3h             0
Barcelona_pressure         0
Seville_rain_3h            0
Madrid_rain_1h             0
Barcelona_rain_3h          0
Valencia_snow_3h           0
Madrid_weather_id          0
Barcelona_weather_id       0
Bilbao_pressure            0
Seville_weather_id         0
Valencia_pressure       2068
Seville_temp_max           0
Madrid_pressure            0
Valencia_temp_max          0
Valencia_temp              0
Bilbao_weather_id          0
Seville_temp               0
Valencia_humidity          0
Valencia_temp_min          0
Barcelona_temp_max         0
Madrid_temp_max            0
Barcelona_temp             0
Bilbao_temp_min            0
Bilbao_temp                0
Barcelona_temp_min         0
Bilbao_temp_max            0
Seville_temp_min           0
Madrid_temp                0
Madrid_temp_min            0
load_shortfall_3h          0
dtype: int64

<a id="three"></a>
## 3. Data Cleaning Operations
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Data Cleaning and transformation ⚡ |
| :--------------------------- |
| In this section, you are required to perform cleaning of the variables in the DataFrame. |

---

<a id="three"></a>
## 3. Exploratory Data Analysis (EDA)
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Exploratory data analysis ⚡ |
| :--------------------------- |
| In this section, you are required to perform an in-depth analysis of all the variables in the DataFrame. |

---

In [9]:
# look at data statistics

In [10]:
# plot relevant feature interactions

In [11]:
# evaluate correlation

In [12]:
# have a look at feature distributions

<a id="four"></a>
## 4. Data Engineering
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Data engineering ⚡ |
| :--------------------------- |
| In this section you are required to: clean the dataset, and possibly create new features - as identified in the EDA phase. |

---

In [13]:
# remove missing values/ features

In [14]:
# create new features

In [15]:
# engineer existing features

<a id="five"></a>
## 5. Modelling
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Modelling ⚡ |
| :--------------------------- |
| In this section, you are required to create one or more regression models that are able to accurately predict the thee hour load shortfall. |

---

In [16]:
# split data

In [17]:
# create targets and features dataset

In [18]:
# create one or more ML models

In [19]:
# evaluate one or more ML models

<a id="six"></a>
## 6. Model Performance
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Model performance ⚡ |
| :--------------------------- |
| In this section you are required to compare the relative performance of the various trained ML models on a holdout dataset and comment on what model is the best and why. |

---

In [20]:
# Compare model performance

In [21]:
# Choose best model and motivate why it is the best choice

<a id="seven"></a>
## 7. Model Explanations
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Model explanation ⚡ |
| :--------------------------- |
| In this section, you are required to discuss how the best performing model works in a simple way so that both technical and non-technical stakeholders can grasp the intuition behind the model's inner workings. |

---

In [22]:
# discuss chosen methods logic